*.pyc

/dist/

docs/_build
docs/medil*rst

.devenv*
devenv.local.nix

.direnv

.uv_cache

/src/expt/.snakemake/
/src/expt/data/
/src/expt/results/causalchamber/
/src/expt/results/simulated/
/src/expt/results/auto/
